.html{
    margin-top: 20px;
}
.paragraph{
    font-family: sans-serif;
    font-size: 18pt;
    text-align: center;
}
.subparagraph{
    font-family: sans-serif;
    font-size: 14pt;
    text-align: center;
}
.team{
    text-align: center;
    background-color: lightblue;
}
.images{
    display: flex;
    justify-content: space-around;
}
.image{
    padding: 5px;
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
    height: 250px;
    width: 200px;
}
.image1{
    padding: 5px;
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
    height: 250px;
    width: 250px;
}
.footer{
    text-align: center;
    position: relative;
    margin-top: 300px;
}
.bilal{
    padding-right: 10px;
}