h1 {
  margin-top: 1%;
}

h4, h5 {
  margin-top: 1%;
  font-size: 16px;
}

.img {
  width: 80px;
  margin: 10px auto;
}
.row {
  margin-top: 5%;
}
.col, .price-col {
  height: 200px;
}
.card {
  margin: 0 auto;
  width: 100%;
}

.card-body {
  justify-content: center;
}

.card-text {
  width: 90%;
  margin: 0 auto;
  display: none;
}
/* What we use? */

.framework {
  width: 60% !important;
  height: 160px;

  transition: 0.5s all;
}
.framework:hover {
  width: 100% !important;
  /* height: 170px; */
}

/* Price */

.price-2 {
  display: none;
}
.price-info {
  width: 90%;
  margin: 0 auto;
}

/* Footer */

.footer-block {
  margin: 50px 0;
  text-align: center;
}
.footer-link {
  text-decoration: none;
  color: #0b090a;
}
.footer-btn:hover .footer-link {
  color: #f5f3f4;
}



/* Making responsive */
@media (min-width: 768px) { /* Small devices (tablets, 768px and up) */
  h4, h5 {
    font-size: 18px;
  }
  .img {
    width: 40px;
  }
  .col {
    height: 100px;
  }
  .framework {
    margin-bottom: 20px;
  }
  .price-2 {
    display: none;
  }
  
  .price-col:hover .price {
    display: none;
  }
  .price-col:hover .price-2 {
    display: block;
  }
  .price-info {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 992px){  /* Medium devices (desktops, 992px and up) */
  h4, h5 {
    font-size: 16px;
  }
  .price-col:hover .price {
    display: none;
  }
  .price-col:hover .price-2 {
    display: block;
  }
}
@media (min-width: 1200px){ /* Large devices (large desktops, 1200px and up) */
  h4, h5 {
    font-size: 24px;
  }
  .price-col:hover .price {
    display: none;
  }
  .price-col:hover .price-2 {
    display: block;
  }
}