h1 {
  margin-top: 1%;
}
h4,
h5 {
  margin-top: 1%;
  font-size: 16px;
}
p {
  font-size: 12px;
}
.container .img {
  width: 60px;
  margin: 10px auto;
}
.row {
  margin: 0 auto;
  margin-top: 5%;
  width: 280px;
}
.col,
.price-col {
  height: 150px;
  width: 100%;
}
.card {
  margin: 0 auto;
  width: 50%;
}

.card-body {
  justify-content: center;
  padding: 0;
}

.card-text {
  width: 90%;
  margin: 0 auto;
  display: none;
}
/* What we use? */

.framework {
  width: 60% !important;
  height: 120px;

  transition: 0.5s all;
}
.framework:hover {
  width: 100% !important;
}

/* Price */

.price-2 {
  display: none;
}
.price-info {
  width: 90%;
  margin: 0 auto;
}

.price-col:hover .price {
  display: none;
}
.price-col:hover .price-2 {
  width: 50%;
  display: block;
}
/* Footer */

.footer-block {
  margin: 50px 0;
  text-align: center;
}
.footer-link {
  text-decoration: none;
  color: #0b090a;
}
.footer-btn:hover .footer-link {
  color: #f5f3f4;
}

/* Making responsive */
@media (min-width: 768px) {
  /* Small devices (tablets, 768px and up) */
  h4,
  h5 {
    font-size: 18px;
  }
  .img {
    width: 50px;
  }
  .row {
    width: 100%;
  }
  .col {
    height: 100px;
  }
  .framework {
    margin-bottom: 20px;
  }
  .price-2 {
    display: none;
  }
  .price-col {
    width: 50%;
  }
  .price-col:hover .price {
    display: none;
  }
  .price-col:hover .price-2 {
    display: block;
  }
  .price-info {
    width: 90%;
    margin: 0 auto;
  }
  .card-body {
    padding: 0;
  }
}
@media (min-width: 992px) {
  /* Medium devices (desktops, 992px and up) */
  h4,
  h5 {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  /* Large devices (large desktops, 1200px and up) */
  h4,
  h5 {
    font-size: 20px;
  }
}
