@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mukta:700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.row-works {
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.bg-col-left {
    background-color: rgba(200, 200, 200, 0.623);
    transition: 0.2s ease-out;
    padding: 50px 0px 50px 0px;
}

.bg-col-left:hover {
    background-color: rgba(170, 170, 170, 0.699);
    transition: 0.2s ease-out;
}

.image {
    display: flex;
    justify-content: center;
}

.works-title {
    display: flex;
    justify-content: center;
    font-family: Mukta;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bg-col-left img {
    width: 570px;
    transition: 0.3s ease;
}

.bg-col-left img:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.rightside {
    background-color: #101010d4;
    color: white;
}

.rightside h1 {
    margin-top: 30px;
}

.center-text {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.button-with-border {
    text-decoration: none;
    font-family: 'Mukta', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding: 3px 20px 3px 20px;
    border: 1px solid rgb(253, 253, 253);
    border-radius: 3px;
    transition: 0.3s ease-out;
    margin-top: 10px;
}

.button-with-border:hover {
    background-color: white;
    color: black;
    transition: 0.3s ease-out;
}

.icons {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}

.fa-html5, .fa-css3-alt, .fa-js-square, .fa-node, .fa-react, .fa-vuejs, .fa-php, .fa-angular {
    font-size: 50px;
}

.fa-html5 {
    color: #e44d26;
    transition: 0.2s ease-in;
}

.fa-css3-alt {
    color: #196db1;
    transition: 0.2s ease-in;
}

.fa-js-square {
    color: #85c21d;
    transition: 0.2s ease-in;
}

.fa-node {
    color:#549f42;
    transition: 0.2s ease-in;
}

.fa-react {
    color: #00cdf2;
    transition: 0.2s ease-in;
}

.fa-vuejs {
    color: rgb(0, 255, 115);
    transition: 0.2s ease-in;
}

.fa-php {
    color: rgb(56, 79, 210);
    transition: 0.2s ease-in;
}

.fa-angular {
    color: rgb(177, 20, 20);
    transition: 0.2s ease-in;
}

.fa-html5:hover, .fa-css3-alt:hover, .fa-js-square:hover, .fa-node:hover, .fa-react:hover, .fa-vuejs:hover, .fa-php:hover, .fa-angular:hover {
    color: rgba(255, 255, 255, 0.296);
    transition: 0.2s ease-in;
}

.mb-5 {
    margin-bottom: 0px !important;
}

html, body {
  margin: 0;
  padding: 0;
}

.container-fluid{
    padding: 0 !important;
}

.text-red-1 {
    color: #EF4444;
}
.text-red-2 {
    color: #B91C1C;
}
.text-red-3 {
    color: #7F1D1D;
}

.text-gray-1 {
    color: #EF4444;
}
.text-gray-2 {
    color: #374151;
}
.text-gray-3 {
    color: #111827;
}

/* .bg-red-2 {
  background:
}
.bg-red-2 {
  background:
}
.bg-red-2 {
  background:
} */
.carousel-item {
  position: relative;
  height: 700px;
}
.carousel-caption {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  padding-top: 100px !important;
  background: rgba(255,255,255,1);
  box-sizing: border-box;


}
.carousel-caption h5 {
  color: #333;
}
.carousel-caption p {
  color: #555;
  font-weight: 200;
}
.custon_carousel-control-prev {
  position: absolute;
  left: 0px;
  top: 600px;
  background: #000;
  width: 70px;
  height: 70px;
}
.custom_carousel-control-next {
  position: absolute;
  left: 100px;
  top: 600px;
  background: #000;
  width: 70px;
  height: 70px;
}

/* Parallax */
.parallax {
  display: flex;
  width: 100%;
  min-height: 700px;
  background: url(../images/parallax.jpg) no-repeat center center fixed #373737;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
opacity: 0.95;
}
.parallax_title {
  font-size: 4rem;
  color: #B91C1C;
  padding: 5px 10px;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 10px #000;
  font-weight: 300;
}
#slogan_wrap {
  padding: 40px 0 100px 0;
}

.slogan {
  height: 300px;
  width: 300px;
  margin: 200px auto !important;
  color: #555;
  font-size: 3rem;
  font-weight: 200;
  transform: rotate(-45deg);
  position: relative;
  /* border-bottom: 1px solid #EF4444; */
  /* border: 1px solid; */
}
.slogan-1{
  width: 300px;
  height: 80px;
  position: absolute;
  top: -35px;
  left: 20px;
  z-index: 9;
  font-size: 28px;
}
.circle-1 {
  width: 100px;
  height: 100px;
  background: #EF4444;
  border-radius: 50%;
  position: absolute;
  right: 100px;
  top: -50px;
}
.center_square {
  width: 100px;
  height: 100px;
  flex-wrap: wrap;
  transform: rotate(45deg);
  color: #ddd;
}
.slogan-2 {
  width: 200px;
  height: 60px;
  padding: 15px 20px;
  border-radius: 10px;
  background: #EF4444;
  color: #fafafa;
  transform: rotate(90deg) !important;
  position: absolute;
  top: 120px;
  left: 200px;

}
.slogan-1 h3 {
    font-size: 28px;
    font-weight: 300;
    border-bottom: 2px solid #EF4444;
    color: #444;
}
.slogan-1 h4 {
  font-size: 20px;
  font-weight: 200;
  color: #444;
}

.slogan-2 h3 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}
.slogan-2 h4 {
  font-size: 18px;
  font-weight: 200;
}

.slogan-3 h3 {
    font-size: 28px;
    font-weight: 300;
}
.slogan-3 h4 {
  font-size: 20px;
  font-weight: 200;
}

.slogan-4 h3 {
    font-size: 28px;
    font-weight: 300;
    margin-left: 50px;
}
.slogan-4 h4 {
  font-size: 20px;
  font-weight: 200;
}
.slogan-3 {
  width: 300px;
  height: 80px;
  position: absolute;
  top: 260px;
  left: 50px;
  font-size: 28px;
}
.slogan-4 {
  width: 300px;
  height: 90px;
  transform: rotate(90deg);
  position: absolute;
  top: 130px;
  right: 185px;
  border-top: 10px solid #EF4444;
  box-sizing: border-box;
  padding: 5px 20px;
  font-size: 36px;
}

.row-works {
    margin: 30px 0px 30px 0px   ;
}

.hide {
    opacity: 0;
    transition: 0.3s ease-in;
}

.show {
    opacity: 1;
    transition: 0.3s ease-in;
}

.transparent {
  background: transparent !important;
  position: relative;
  z-index: 99;
}

#video_background {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #e1e1e1;
  margin: 0;
  padding: 0;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  filter: brightness(45%);
}

header {
  margin: 0;
  padding: 0;
}

.viewport-header {
  position: relative;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation-duration: 4s;
  animation-delay: 2s;
}
#welcome_title {
  font-size: 3.5rem;
  font-weight: 400;
}
#welcome_title span.bordered-span {
  border-bottom: 3px solid rgb(255, 0, 0);
}
#welcome_text {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 30px;
}


.nav-item:after {
  display:block;
  content: '';
  border-bottom: solid 3px #B91C1C;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.nav-item a:hover {
  color: #B91C1C !important;
}
.nav-item:hover:after { transform: scaleX(1);transform-origin:  0% 50%; }

#why_us {
  padding-top: 100px;
  margin-top: 100px;
}

.h3_title {
  font-weight: 400;
  font-size: 2.8rem;
  position: relative;
  display: flex;
  align-items: center;
}
.h3_title span {
  display: inline-block;
  height: 50px;
  display: flex;
}
.h3_title span.red_tilt {
  width: 15px;
  height: 80px;
  background: red;
  margin-right: 40px;
  transform: skewX(-20deg);
}

.h4_title {
  font-weight: 300;
  font-size: 1.8rem;
  position: relative;
  display: flex;
  align-items: center;
}

.h4_title span.number_space {
  display: inline-block;
  width: 80px;
}
.max-800 {
  max-width: 800px;
}

.why_us_row {
  padding: 0
}
.why_us_p {
  padding: 20px 0 20px 80px;
  font-size: 1.4rem;
  font-weight: 200;
}
.shadow_bottom {
  /* box-shadow: 0px 15px 15px -15px #999; */
  border-bottom: 3px dashed #d1d1d1;
}

/* Slider */

.slider_title {
  text-align:center;
  padding: 20px;
  font-size: 3rem;
}
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

#footer {
  margin-top: 100px;
  padding: 10px 0;
  min-height: 300px;
  background: #101010d4;
  box-shadow: 0 0 10px #555;
}
.footer_info_title {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 300;
  color: #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.footer_info {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6rem;
  font-weight: 200;
  color: #e1e1e1;
}
#footer_contact_details {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6rem;
  font-weight: 200;
  color: #e1e1e1;
}
#footer_contact_details ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
#footer_contact_details ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #e1e1e1;
  padding: 10px 0;
}
#footer_contact_details ul li a {
  color: #e1e1e1;
  text-decoration: none;
}
#footer_contact_details ul li a:hover {
  color: #e1e1e1;
  text-decoration: underline;
}
#social_icons {
  margin: 0;
  padding: 0;
}
#social_icons li {
  list-style: none;
  display: inline-block;
  color: #e1e1e1;
  margin: 10px;
  font-size: 40px;
  background: transparent;
}

#social_icons li a{
  list-style: none;
  display: inline-block;
  color: #e1e1e1;
  margin: 10px;
  font-size: 40px;
  background: transparent;
}
.fa-facebook-square:hover {
  color: #4267B2;
}
.fa-instagram-square:hover {
  color: #C13584;
}
.fa-twitter-square:hover {
  color: #1DA1F2
}
.fa-linkedin:hover {
  color: #2867B2;
}
.fa-github-square:hover {
  color: #555;
}

.animate__jackInTheBox {
color: white;
background-color: #ff00009c;
padding: 5px 10px;
margin-top: 10px;
}

.d-block {
    color: white;
}

.animate__delay-3s {
    margin-bottom: 20px;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Contact 1 ]*/

.contact1 {
  width: 100%;

  background-color: #101010d4;


  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-contact1 {
  width: 1163px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 90px 130px 88px 148px;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-pic {
  width: 296px;
  filter: hue-rotate(611deg) saturate(1.3) contrast(15.1) brightness(1.8)
}

.contact1-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.contact1-form {
  width: 390px;
}

.contact1-form-title {
  display: block;
  font-family: Roboto;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
  font-weight: bold;
}

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}
input.input1 + .shadow-input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: Roboto;
  font-size: 15px;
  line-height: 1.5;
  color: #000000;
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(0, 0, 0, 0.5);
}

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #ff0000;
  font-family: Roboto;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover {
  background: #333333;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}


.

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%;
  }

  .contact1-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }

  .contact1-pic {
    width: 35%;
  }

  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }

  .contact1-pic {
    display: none;
  }

  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
}

<<<<<<< HEAD
@media (max-width: 990px) {
  .bg-white-for-nav {
    background: #fff;
    margin-top: 5px;
    border: 1px soid #e1e1e1;
    box-shadow: 0 0 5px #ccc;
  }
  .nav-text-black {
    color: #111 !important;
  }
}
=======
#color-white-nav a {
    color: white;
}
>>>>>>> 268bdd956d001efb2437fbd029be84fd238112d6
